.change-password-modal {
	padding: 0 15px 25px;
	line-height: 1;
	.form-group {
		margin-bottom: 0;
		position: relative;
		.toggle-pass {
			position: absolute;
			right: 15px;
			top: 38px;
			user-select: none;
			cursor: pointer;
		}
	}
	.p-without-api-error {
		padding-bottom: 34px;
	}
	.p-with-api-error {
		padding-bottom: 0;
	}
	.api-error {
		font-size: 18px;
		color: #dc3545;
	}
}
