.wallet-info-container {
	@import "../RollerSelect";
	display: flex;
	align-items: center;
	justify-content: flex-start;
	line-height: 1;
	p {
		margin: 0;
	}
	.total-balance {
		position: relative;
		font-size: 12px;
		padding-left: 16px;
		padding-top: 6px;
		.rollercoin-select-container {
			max-width: 124px;
			z-index: 11;
			@media only screen and (min-width: 992px) {
				max-width: 175px;
			}
			.rollercoin-select__menu .rollercoin-select__menu-list .rollercoin-select__option{
				font-size: 12px;
				padding: 10px 4px;
				img {
					margin-right: 3px;
				}

				@media only screen and (min-width: 992px) {
					min-width: 120px;
					font-size: 14px;
					padding: 12px 14px;
					img {
						margin-right: 8px;
					}
				}
			}
			.rollercoin-select__control {
				flex-wrap: nowrap;
				.react-select-option-with-image {
					min-width: 90px;
					font-size: 12px;
					padding: 10px 4px;
					img {
						margin-right: 3px;
					}

					@media only screen and (min-width: 992px) {
						min-width: 135px;
						font-size: 14px;
						padding: 12px 14px;
						img {
							margin-right: 8px;
						}
					}
				}
				.rollercoin-select__indicator {
					padding: 0;

					svg {
						max-width: 20px;
					}

					@media only screen and (min-width: 992px) {
						padding: 8px;
						max-width: 100%;
					}
				}
			}
		}
		@media only screen and (min-width: 992px) {
			font-size: 16px;
		}
		img {
			width: 12px;
			height: auto;
		}
		.currencies-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 4px 5px;
			@media only screen and (min-width: 992px) {
				padding: 8px 12px;
			}
			background-color: #19151c;
			border: 1px solid #595467;
			@media only screen and (min-width: 992px) {
				border-width: 2px;
			}
			border-radius: 4px;
			cursor: pointer;
		}
	}
	.btc-small-numbers{
		font-size: 10px;
		@media only screen and (min-width: 992px) {
			font-size: 12px;
		}
	}
}
