.rollercoin-select-container {
	.react-select-option-with-image {
		cursor: pointer;
		> div {
			margin: 0;
			display: flex;
			align-items: center;
		}
		img {
			margin-right: 8px;
		}
		.react-select-option-inner{
			display: flex;
			align-items: center;
		}
	}
	.rollercoin-select__input {
		color: #ffffff !important;
		font-size: 15px;
		line-height: 1;
		input {
			min-height: 0;
		}
	}
	.rollercoin-select__control {
		border: 2px solid #6a668a;
		border-radius: 4px;
		background-color: #1f1f2d;
		font-family: 'Roboto', sans-serif;
		&.rollercoin-select__control--is-focused,
		&:hover {
			border-color: #6a668a;
			box-shadow: none;
		}
		.rollercoin-select__value-container {
			padding: 12px 14px;
			font-size: 15px;
			.rollercoin-select__single-value {
				color: #ffffff;
				& + div {
					padding: 0;
					margin: 0;
				}
			}
		}
		.rollercoin-select__indicator-separator {
			display: none;
		}
		.rollercoin-select__dropdown-indicator {
			cursor: pointer;
		}
	}
	.rollercoin-select__menu {
		margin: 0;
		top: calc(100% - 5px);
		border-radius: 0 0 4px 4px;
		border: 2px solid #6a668a;
		border-top: none;
		background-color: #1f1f2d;
		.rollercoin-select__menu-list {
			.rollercoin-select__option {
				font-size: 15px;
				font-family: 'Roboto', sans-serif;
				cursor: pointer;
				padding: 12px 14px;
				&.rollercoin-select__option--is-focused {
					background-color: #2f3045;
				}
				&.rollercoin-select__option--is-selected {
					background-color: #7e7da0;
				}
			}
			& .rollercoin-select__option--is-disabled {
				cursor: not-allowed;
			}
		}
	}
}
