.roller-table {
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #ffffff;
	th,
	td {
		padding: 8px 0;
		display: none;
		&:first-child,
		&:last-child,
		&:nth-child(4) {
			&:not(.hidden-mobile) {
				display: table-cell;
			}
		}
		@media only screen and (min-width: 992px) {
			display: table-cell;
		}
	}
	.satoshi-text {
		color: #595467;
	}
	> thead,
	> tfoot {
		th,
		td {
			background-color: #1f1f2d;
			font-weight: normal;
			border: none;
			> p {
				b {
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
				}
				padding-left: 16px;
				padding-right: 16px;
				text-align: right;
				border-left: 1px solid #595467;
				&.main-header-table {
					display: flex;
					align-items: center;
					font-family: 'Arcana', sans-serif;
					font-size: 16px;
					> span {
						padding-left: 8px;
					}
				}
			}
			&:first-child {
				> p {
					text-align: left;
					border-left: none;
				}
			}
		}
	}
	> tbody {
		> tr {
			&:not(:last-child) {
				border-bottom: 1px solid #595467;
			}
			> td {
				border: none;
				> p {
					text-align: right;
					border-left: 1px solid #595467;
					padding-left: 16px;
					padding-right: 16px;
				}
				&:first-child {
					> p {
						text-align: left;
					}
				}
				&:last-child {
					> p {
						border-right: 1px solid #595467;
					}
				}
			}
			&:first-child {
				td {
					padding-top: 8px;
				}
			}
		}
	}
}
