.container-faq {
	color: #ffffff;
	padding-bottom: 100px;
	font-family: 'Roboto', sans-serif;
	.header-page {
		font-family: 'Arcana', sans-serif;
		padding: 20px 0 16px;
		margin: 0;
		text-align: center;
		font-size: 24px;
		@media screen and (min-width: 992px) {
			padding: 40px 0 32px;
			font-size: 36px;
		}
	}
	.faq-section {
		&:not(:last-of-type) {
			margin-bottom: 24px;
			@media screen and (min-width: 992px) {
				margin-bottom: 32px;
			}
		}
	}
	.header-lead {
		margin-bottom: 12px;
		font-size: 22px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
	}
	.text-faq-header {
		font-size: 16px;
		font-family: "Roboto", sans-serif;
		font-weight: 700;
	}
	.link-rollercoin {
		text-decoration: underline;
		color: #03e1e4;
		&:hover {
			color: #03e1e4;
		}
	}

	.body-faq {
		padding: 20px 16px 16px;
		border-radius: 4px;
		border: solid 1px #6a668a;
		@media screen and (min-width: 992px) {
			padding: 40px 100px;
		}
	}

	.card {
		border-radius: 4px;
		border: solid 2px #6a668a;
		background-color: #1f1f2d;
		text-transform: none;
		&:not(:last-child) {
			margin-bottom: 8px;
			@media screen and (min-width: 992px) {
				margin-bottom: 12px;
			}
		}
	}

	.card-header {
		padding: 0;
		position: relative;
		border: none;
		.card-faq-header {
			padding: 20px 12px;
			@media screen and (min-width: 992px) {
				padding: 14px 16px;
			}
		}
	}

	.card-flex-header {
		min-height: 46px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		font-size: 14px;
		@media screen and (min-width: 992px) {
			font-size: 24px;
		}
		.card-flex-questions {
			display: flex;
			align-items: center;
		}
		.collapse-btn-wrapper {
			padding-left: 12px;
		}
	}

	.ico-faq {
		margin-right: 10px;
		@media screen and (min-width: 992px) {
			margin-right: 11px;
		}
		line-height: normal;
		> img {
			display: block;
		}

		.ico-img {
			vertical-align: revert;
		}
	}

	.card-body {
		padding: 8px 0 12px;
		font-size: 14px;
		line-height: 1.4;
		background-color: transparent;
		border-top: 1px solid #6a668a;
		margin-right: 12px;
		margin-left: 12px;
		@media screen and (min-width: 992px) {
			padding: 16px 0 24px;
			margin-right: 16px;
			margin-left: 16px;
			font-size: 20px;
		}
	}
	.card-body-item {
		font-family: 'Roboto', sans-serif;
		margin-bottom: 5px;
		font-size: 14px;
	}
	.card-footer.roller-card-footer {
		border-radius: 0;
		border: none;
		border-top: 1px solid #6a668a;
		padding: 8px 0;
		font-size: 14px;
		margin-right: 16px;
		margin-left: 16px;
		@media screen and (min-width: 992px) {
			font-size: 16px;
		}
		line-height: 1;
		p {
			margin: 0;
			display: flex;
			align-items: center;
		}
	}

	.wrapper-small-line {
		height: 20px;
		width: 1px;
		background-color: #595467;
		margin: 0 6px;
		@media screen and (min-width: 992px) {
			margin: 0 16px;
		}
	}

	.text-help {
		padding-right: 12px;
		@media screen and (min-width: 992px) {
			padding-right: 20px;
		}
	}
	.helpful {
		.like-unlike,
		.share-block {
			cursor: pointer;
			padding-bottom: 10px;
			padding-top: 10px;
		}
		&.disabled {
			.like-unlike {
				cursor: default;
				opacity: 0.5;
			}
		}
	}

	.share-text {
		cursor: pointer;
		@media screen and (max-width: 575px) {
			display: none !important;
		}
	}
}
