$whiteColor: #ffffff;
$milkLightColor: #dfdfdf;
$cyanColor: #03e1e4;
$lavanderColor: #c3b0d0;
$violetColor: #2f3045;
$violetLightColor: #514e72;
$violetContrastColor: #3f3290;
$darkColor: #1f1f2d;
$yellow: #ffdc00;
$yellowLowOpacity: rgba(255, 220, 0, 0.3);
$yellowOpacity: rgba(255, 220, 0, 0);
$darkBackgroundColor: rgba(0, 5, 15, 0.8);
