.quests-modal {
	& .event-quest-unavailable {
		text-align: center;
	}

	& .quests-block {
		padding: 0 15px;
	}
	& .quest-item-card {
		display: flex;
		flex-direction: column;
		padding: 12px;
		background-color: #1f1f2d;
		border: 1px solid #6a668a;
		border-radius: 4px;
		margin-bottom: 12px;
		@media only screen and (min-width: 992px) {
			flex-direction: row;
			padding: 8px;
			border: none;
			margin-bottom: 8px;
		}

		&.crypto-quest {
			border: 1px solid #ffdc00;
			.quest-item-description-wrapper {
				.quest-item-title {
					color: #ffdc00;
				}
			}
			.quest-item-action {
				.tree-dimensional-button {
					box-shadow: 0 6px #b98500, 0 10px #1f1f2c;
					span {
						background-color: #ffdc00;
						border-color: #fff199;
					}
				}
			}
			.quest-item-progress-wrapper {
				.progress-bar {
					> .progress-bar {
						background-color: #ffdc00;
					}
				}
			}
		}
		.quest-item-xp-wrapper {
			flex: 1 1 auto;
			display: flex;
			margin-bottom: 0;
			font-size: 14px;
			@media only screen and (min-width: 992px) {
				flex: 0 0 96px;
			}
			.quest-item-xp {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				min-width: 80px;
				padding: 12px 12px 8px;
				background-color: #2f3045;
				border-radius: 4px;
				@media only screen and (min-width: 992px) {
					padding: 6px 20px 2px;
					min-width: 100%;
					max-height: inherit;
				}

				.quest-item-xp-text {
					margin: 4px 0 0;
					color: #fff;
					font-family: 'Arcana', sans-serif;
					font-size: 20px;
					line-height: 1.1;
					@media only screen and (min-width: 992px) {
						margin: 3px 0 0;
					}
				}
			}
		}

		.quest-item-description-wrapper {
			flex: 1 1 auto;
			padding-left: 12px;
			@media only screen and (min-width: 992px) {
				padding-left: 16px;
				border-right: 1px solid #6a668a;
			}
			.quest-item-title {
				margin-bottom: 2px;
				color: #03e1e4;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-size: 14px;
				line-height: 1.1;
				@media only screen and (min-width: 992px) {
					font-size: 16px;
					line-height: 1.2;
				}
			}
			.quest-item-description {
				margin-bottom: 0;
				color: #fff;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				font-weight: 300;
				line-height: 1.2;
				@media only screen and (min-width: 992px) {
					margin-bottom: 4px;
					line-height: 1.1;
				}
				.quest-item-description-bold {
					font-weight: 700;
				}
			}
		}

		.quest-item-progress-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 8px 0;
			text-align: center;
			line-height: 1;
			border-bottom: 1px solid #6a668a;
			@media only screen and (min-width: 992px) {
				padding: 0;
				border-bottom: none;
			}
			.progress-bar {
				flex: 1 1 auto;
				background-color: #2f2f4c;
				height: 8px;
				margin-top: 0;
				border-radius: 4px;
				> .progress-bar {
					background-color: #03e1e4;
				}
			}
			.quest-progress-value {
				min-width: 84px;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				transform: translate(6px, -2px);
				@media only screen and (min-width: 992px) {
					flex: 0 0 112px;
					min-width: unset;
					font-size: 16px;
					transform: translate(0, -2px);
				}
			}
		}

		.quest-item-action {
			flex: 0 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 16px 0 8px;
			@media only screen and (min-width: 992px) {
				flex: 0 0 184px;
				padding: 0 8px 0 16px;
			}
			@media only screen and (min-width: 1200px) {
				flex: 0 0 216px;
				padding: 0 8px 0 16px;
			}
			.quest-collected {
				.quest-collected-img {
					max-height: 24px;
					max-width: 24px;
					margin-right: 12px;
					transform: translateY(-3px);
					@media only screen and (min-width: 992px) {
						margin-right: 12px;
						max-height: 32px;
						max-width: 32px;
						transform: translateY(-1px);
					}
				}
				.quest-collected-text {
					display: inline-block;
					margin: 0;
					font-family: 'Arcana', sans-serif;
					font-size: 16px;
				}
			}
			.tree-dimensional-button {
				display: inline-block;
				border-radius: 5px;
				cursor: pointer;
				text-decoration: none;
				transform: translateY(-2px);

				> span {
					font-size: 16px;
				}

				&:hover {
					text-decoration: none;
				}

				&.btn-green {
					box-shadow: 0 6px #145814, 0 10px #1f1f2c;

					> span {
						box-shadow: 0px -1px #145814, 0px 1px #1f1f2c;
						background-color: #40bf40;
						border: 1px solid #8bee8b;
						color: #ffffff;
					}
				}
			}
		}
	}
}
