.registration-footer {
	padding: 20px;
	background-color: #111432;
	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: Roboto, sans-serif;
		font-size: 14px;
		color: #8984b1;

		@media (min-width: 992px) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		.footer-links {
			display: flex;
			p {
				&:not(:last-child) {
					margin-right: 30px;
				}
				a {
					color: #8984b1;
					text-decoration: none;
				}
			}
		}
	}
}
