$whiteColor: #ffffff;
$milkLightColor: #dfdfdf;
$cyanColor: #03e1e4;
$lavanderColor: #c3b0d0;
$lavanderSecondColor: #6a668a;
$violetColor: #2f3045;
$violetLightColor: #514e72;
$darkColor: #1f1f2d;
$darkBackgroundColor: #19151c;
$goldColor: #ffdc00;
$darkBlueColor: #181927;
$violetContrastColor: #9475d1;
$greenContrastColor: #2bd600;
