.lunar-banner-container {
	display: flex;
	justify-content: center;
	padding: 238px 0 20px;
	margin-top: 12px;
	background: url("../../img/singleComponents/lunar_banner_bg.png") no-repeat 50%;
	.button-wrapper {
		width: 280px;
		.btn-gold {
			box-shadow: 0 6px #b98500, 0 10px rgba(0, 0, 0, 0.35);
			&:active,
			&:disabled {
				box-shadow: 0 6px #b98500, 0 8px rgba(0, 0, 0, 0.35);
				.btn-text  {
					transform: translateY(4px);
				}
			}
			&:hover, &:disabled {
				opacity: 1;
			}
			.btn-text {
				padding: 11px 4px 11px;
				font-size: 20px;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
				box-shadow: none;
				border: 1px solid #fff199;
				&:hover {
					background-color: #ffe647;
				}
			}
		}
	}
}
