.miners-racks-card-container {
	padding-top: 16px;
	&.active .card-wrapper {
		border-color: #03e1e4;
	}
	.card-wrapper {
		display: flex;
		background-color: #2f3045;
		border: solid 1px #6a668a;
		border-bottom: none;
		border-radius: 4px 4px 0 0;
		box-shadow: 0 6px 12px -1px #1f1f2d;
		padding: 12px;
		.card-image-block {
			.card-image-wrapper {
				position: relative;
				.collection-product-level-img-size-2 {
					position: absolute;
					top: 15px;
					left: 2px;
				}
				.collection-product-level-img-size-1 {
					position: absolute;
					top: 18px;
					left: 21px;
				}
			}
			display: flex;
			flex: 1;
			justify-content: center;
			align-items: center;
			border-radius: 4px;
			background-color: #1f1f2d;
			min-height: 130px;
			overflow: hidden;
			position: relative;
			.rating-star-wrapper {
				position: absolute;
				top: 17px;
				left: 3px;
				.star-wrapper {
					max-width: 20px;
					max-height: 20px;
				}

				&.rating-img-size-1 {
					left: 25px;
					top: 20px;
				}
			}
		}
		.card-info-block {
			flex: 1;
			padding-left: 10px;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			line-height: 1.14;
			.item-name {
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-size: 18px;
				line-height: 1;
				@media only screen and (min-width: 992px) {
					font-size: 16px;
				}
				padding-bottom: 4px;
			}
			.item-info-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-top: 1px solid #6a668a;
				padding: 2px 0;
				.bonus-power-value {
					color: #03e1e4;
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					&::before {
						content: url("../../img/storage/arrow-up.svg");
						padding-right: 4px;
						vertical-align: middle;
					}
				}
				.bonus-value {
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					color: #03e1e4;
					display: flex;
					align-items: center;
					.power-icon {
						display: flex;
						align-items: center;
						margin-right: 4px;
					}
				}
				.quantity-title {
					display: flex;
					align-items: center;
					&::before {
						display: block;
						content: " ";
						background-image: url("../../img/storage/box-cyan.svg");
						background-size: 12px 12px;
						height: 12px;
						width: 12px;
						margin-right: 8px;
					}
				}
				.quantity-title-rack {
					display: flex;
					align-items: center;
				}
				.quantity-value {
					color: #5ce319;
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
				}
			}
		}
	}
	.inventory-description-wrapper {
		position: relative;
		padding: 0 16px;
		background-color: #2f3045;
		border: 1px solid #6a668a;
		border-top: none;
		border-radius: 0 0 4px 4px;
		cursor: pointer;
		&.opened {
			border: 1px solid #03e1e4;
			border-top: none;
			border-radius: 0 0 4px 4px;
			@media only screen and (min-width: 992px) {
				padding-bottom: 50px;
			}
		}
		.inventory-description-switcher {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 13px 0;
			border-top: 1px solid #6a668a;
			.image {
				margin: 0 0 3px 10px;
			}
		}
		.inventory-description-block {
			z-index: 1;
			padding: 0;
			background-color: #2f3045;
			@media only screen and (min-width: 992px) {
				position: absolute;
				top: 0;
				left: -1px;
				right: -1px;
				padding: 0 16px;
				border: 1px solid #03e1e4;
				border-radius: 0 0 4px 4px;
				border-top: none;
			}
			.description-wrapper {
				padding-bottom: 12px;
				.description-text {
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					line-height: 1.14;
				}
				.how-to-get-text {
					padding-top: 12px;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					line-height: 1.14;
					color: #03e1e4;
				}
			}
		}
	}
}
