.wrapper {
  .roller-tabs-base.tabs-container {
    p {
      margin: 0;
      padding: 0;
    }

    .info-block-container {
      margin: 16px 0 0;
      display: flex;
      justify-content: flex-start;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      padding: 0 5px;
      line-height: 1.14;

      .info-icon-block {
        padding-right: 12px;
      }

      @media only screen and (min-width: 992px) {
        padding: 0;
      }

      .info-cyan {
        color: #03e1e4;
      }
    }

    .nav {
      margin-bottom: 17px;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0;
        display: none;
        background: transparent;
      }

      display: flex;
      flex-wrap: nowrap;
      border-bottom: 1px solid #2f3045;

      &.nav-tabs {
        border-bottom: 1px solid #2f3045;
        @media only screen and (min-width: 992px) {
          justify-content: space-between;
        }

        .nav-item {
          flex-shrink: 0;
          flex-basis: calc(60% - 8px);
          @media only screen and (min-width: 453px) {
            flex-basis: calc(44% - 8px);
          }
          @media only screen and (min-width: 992px) {
            flex-basis: 32%;
          }

          & + .nav-item {
            margin-left: 8px;
          }

          &.pt {
            .nav-link {
              font-size: 10px;
            }
          }

          .nav-link {
            text-align: center;
            cursor: pointer;
            background-color: rgba(47, 48, 69, 0.35);
            padding: 12px 10px;
            font-size: 14px;
            @media only screen and (min-width: 992px) {
              font-size: 15px;
            }
            @media only screen and (min-width: 1200px) {
              font-size: 16px;
            }

            img {
              margin-right: 8px;
            }

            .count {
              margin-left: 8px;
              color: #03e1e4;
            }

            &.active {
              background-color: #2f3045;
              color: #ffffff;
            }
          }
        }
      }
    }

    &.item-type-tabs {
      .nav.nav-tabs {
        .nav-item {
          @media only screen and (min-width: 992px) {
            flex-basis: 24%;
          }
        }
      }
    }
  }

  &.pt, &.es {
    .roller-tabs-base.tabs-container {
      .nav.nav-tabs {
        .nav-item {
          .nav-link {
            font-size: 12px;
            @media only screen and (min-width: 768px) {
              font-size: 16px;
            }
            @media only screen and (min-width: 1200px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}